<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>纸飞机限量周边大派送</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="main.css">
    <link rel="icon" href="./logo.ico" type="image/x-icon">
</head>

<body background="background.jpg">
    <div id="ti">

        <el-page-header @back="goBack" content="欢迎领取纸飞机限量周边">
        </el-page-header>
        <img id="logo" src="./logo.ico">
        <img id="cloud" src="./cloud.png">
        <img id="cloud1" src="./cloud.png">
    </div>

    <div id="top">
            <el-row :gutter="10" type="flex" class="row-bg" justify="center">
                <el-col :xs=" 24" :sm="20" :md="20" :lg="18" >
                    <div id="top1">
                        <template>
                            <el-carousel :interval="4000" type="card" height="300px" width="80%" margin="0 auto" boeder="100px">
                                <el-carousel-item v-for="(img ,index) in imgList":key="index">
                                    <img id="img" v-bind:src="img.url">
                            </el-carousel-item>
                        </el-carousel>
                        </template>
                    </div>
                </el-col>
            </el-row>
        </div>



   <div id="card">
            <el-row :gutter="10" type="flex" class="row-bg" justify="center">
                    <el-col :xs=" 16" :sm="16" :md="14" :lg="12" >
                        <div >
                            <el-card class="box-card" style="height:530px;min-width: 700px;;margin: 0 auto;background-color: rgba(255, 255, 255, 0.822);">
                                <div slot="header" class="clearfix">
                                    <span>活动简介/领取规则</span>
                                </div>
                                    <div style="font-size: 14px;">
                                    <p>纸飞机周边大派送！！！先到先得！有意领取的同学请按照下面的tips操作哦～</p> 
                                    <p>①填写表格（我要周边！）</p>
                                    <p>②校内同学请加群，群内通知领取的时间地点；群号：910702270。</p>
                                    <img id="group" src="./group.jpg">
                                    <p>③校外同学填写好配送地址，我们支付快递费用，送货上门哦</p>
                                    <p>④搬好小桌椅等待精美小周边​</p>
                                    <p>注：一人一份哦，发现有“薅羊毛”者取消资格</p>
                                    <p>感谢大家对纸飞机活动的支持～花店​不开啦，但花一直都在</p>
                                </div> 
                            </el-card>

                        </div>
                    </el-col>
    </div>
    <div id="canvas-container">
            <canvas id="sineCanvas" width="750" height="200"></canvas>
        
        </div>
       <img id="cloud2" src="./cloud.png">
    
       <div id="app" >
            <el-row :gutter="10" type="flex" class="row-bg" justify="center">
                <el-col :xs=" 14":sm="14" :md="14" :lg="8" >
                    <div >
                        <el-form ref="form" :model="form" label-width="80px" status-icon :rules="rules" ref="ruleForm">
                            <div style="margin:40px ;">
                                <el-radio-group  v-model="form.radio" >
                                    <el-radio   label="1"border @change="cancelAttr()" class="radio-button">校外</el-radio>
                                    <el-radio   label="2" border @change="setAttr()" class="radio-button">校内</el-radio>
                                </el-radio-group>
                            </div>
                            <el-form-item label="姓名" prop="name">
                                <el-input v-model="form.name"></el-input>
                            </el-form-item>
                            <el-form-item label="学号" prop="ID">
                                <el-input v-model.number="form.ID"></el-input>
                            </el-form-item>
                            <el-form-item label="电话" prop="phone">
                                <el-input v-model.number="form.phone"></el-input>
                            </el-form-item>
                            <el-form-item label="配送地址" prop="address">
                                <el-input id="address" v-model="form.address" v-bind:disabled="form.disabled"></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="onSubmit('form')">立即领取</el-button>
                                <el-button>取消</el-button>
                            </el-form-item>
                        </el-form>
                    </div>
                <div id='tips'>
                    <template>
                        <el-alert v-if=visible1 title="提交成功" type="success" center show-icon>
                        </el-alert>
                        <el-alert v-if=visible2 title="提交失败" type="error" center show-icon>
                        </el-alert>
                    </template>
                </div>
            </el-col>
        </el-row>
    </div>
    <div id="footer">
        <el-dividerc></el-dividerc>
        <div class="bottom" style="color: rgba(17, 14, 11, 0.692);font-size: 12px;">
            <p>本次活动最终解释权归南航纸飞机青年网络社区所有</p><br>
        </div>
    </div>

</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="./network.js">
    context.globalAlpha = 0.5;
</script>
<script src="./network.js"></script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
<script src="./form.js"></script>
<script>
    new Vue({
        el: '#ti',
        data: function () {
            return {
                visible: true
            }
        }
    })
    new Vue({
        el: '#top',
        data: function () {
            return {

                imgList: [{
                        url: ('./1.jpg')
                    },
                    {
                        url: ('./2.jpg')
                    },
                    {
                        url: ('./3.jpg')
                    },
                    {
                        url: ('./4.jpg')
                    }
                ],
                visible: true
            }
        }
    })
    new Vue({
        el: '#card',
        data: function () {
            return {
                visible: true
            }
        }
    })
    new Vue({
        el: '#footer',
        data: function () {
            return {
                visible: true
            }
        }
    })
</script>
<script>
    var tip = new Vue({
        el: '#tips',
        data: {
            visible1: false,
            visible2: false
        }
    })
</script>

</html>