<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" href="./main.css">
    <link rel="icon" href="./logo.ico" type="image/x-icon">
</head>
    
<body >
    
        <div id="ti">
        <el-page-header @back="goBack" content="欢迎领取新生大礼包">
        </el-page-header>
    </div>
    <div id="top">
        <template>
            <el-carousel :interval="4000" type="card" height="200px" width="500px" margin="100px" boeder="100px">
                <el-carousel-item v-for="item in 4" :key="item">
                    <h3 class="medium">部门名称</h3>
                </el-carousel-item>
            </el-carousel>
        </template>
    </div>
     
    <div id="canvas-container" >
            <canvas id="sineCanvas"  width="1024px" height="600px"></canvas>
        </div>
    <div id="card" >
        <el-card class="box-card" style="width: 600px;height: 250px;margin: 0 auto;">
            <div slot="header" class="clearfix">
              <span>新生大礼包简介/领取规则</span>
            </div>
            <p>
                ???待定中。。。
            </p>
          </el-card>
          
    </div>
   
    
    
    <div id="app" style="width: 50%;">
        
        <el-form ref="form" :model="form" label-width="80px">
            <el-form-item label="姓名">
                <el-input v-model="form.name" class="input"></el-input>
            </el-form-item>
            <el-form-item label="学号">
                <el-input v-model="form.ID" class="input"></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="onSubmit">立即领取</el-button>
                <el-button>取消</el-button>
            </el-form-item>
            
        </el-form>
    </div>  
    <div id="footer" >
        <el-dividerc ></el-dividerc>
        <div class="bottom" style="color: rgba(17, 14, 11, 0.692);font-size: 12px;">
        <p>本次活动最终解释权归南航纸飞机青年网络社区所有</p><br>
        </div>
    </div>   
        
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="./network.js">context.globalAlpha=0.5;</script>
<script src="./main.js"></script>
<script>
    new Vue({
        el: '#ti',
        data: function () {
            return {
                visible: true
            }
        }
    })
    new Vue({
        el: '#top',
        data: function () {
            return {
                visible: true
            }
        }
    })
     new Vue({
        el: '#card',
        data: function () {
            return {
                visible: true
            }
        }
    })
    new Vue({
        el: '#footer',
        data: function () {
            return {
                visible: true
            }
        }
    })
   
</script>
<script>
        (function () {
        
            var unit= 50,canvas, context, canvas2, context2,
                height, width, xAxis, yAxis,
                draw;
        
            /**
             * Init function.Initialize variables and begin the animation.
             */
            function init() {
        
                canvas = document.getElementById("sineCanvas");
                context = canvas.getContext("2d");
        
                height = canvas.height;
                width = canvas.width;
        
                xAxis = Math.floor(height / 2);
                yAxis = Math.floor(width / 4);
        
                context.save();
                draw();
        
            }
        
            /**
             * Draw animation function.
             * 
             * This function draws one frame of the animation, waits 25ms, and then calls
             * itself again.
             */
            draw = function () {
                // Clear the canvas
                context.clearRect(0, 0, width, height);
                
                // BLUE gradient
                grd = context.createLinearGradient(0.000, 0.000, 800.000, 0.000);
                grd.addColorStop(0, 'rgba(189, 106, 155, 1.000)');
                grd.addColorStop(1, 'rgba(189, 106, 155, 0.00)');
                context.strokeStyle = grd;
                context.lineWidth = 2;
                // BLUE sine
                context.beginPath();
                drawSine(draw.t, unit, 0, 1);
                context.stroke();
                //BLUE plane
                drawPlane(draw.t, unit, 0, 1);
                
                //GREEN gradient
                grd = context.createLinearGradient(0.000, 0.000, 800.000, 0.000);
                grd.addColorStop(0, 'rgba(151, 204, 18, 1.000)');
                grd.addColorStop(1, 'rgba(151, 204, 18, 0.000)');
                context.strokeStyle = grd;
                // GREEN sine
                context.beginPath();
                drawSine(draw.t, unit*2, 50, -1);
                context.stroke();
                // GREEN plane
                drawPlane(draw.t, unit*2, 50, -1 );
                
                //YELLOW Gradient
                grd = context.createLinearGradient(0.000, 0.000, 800.000, 0.000);
                grd.addColorStop(0,  'rgba(245, 223, 22, 1.000)');
                grd.addColorStop(1, 'rgba(245, 223, 22, 0.0)');
                context.strokeStyle = grd;
                //YELLOW sine
                context.beginPath();
                drawSine(draw.t, unit*2, 100, 1);
                context.stroke();
                //YELLOW plane
                drawPlane(draw.t, unit*2, 100, 1 );
        
                //RED Gradient
                grd = context.createLinearGradient(0.000, 0.000, 800.000, 0.000);
                grd.addColorStop(0,  'rgba(204, 63, 24, 1.000)');
                grd.addColorStop(1, 'rgba(204, 63, 24, 0.000)');
                context.strokeStyle = grd;
                //RED sine
                context.beginPath();
                drawSine(draw.t, unit*1/150, 150, -1);
                context.stroke();
                //RED plane
                drawPlane(draw.t, unit*1/150, 150, -1 );
                
                // Restore original styles
                context.restore();
        
                
                // Update the time and draw again
                draw.seconds = draw.seconds - .007;
                draw.t = draw.seconds * Math.PI;
                setTimeout(draw , 35);
            };
        
            draw.seconds = 0;
            draw.t = 0;
        
        
            /**
             * Function to draw sine
             * 
             * The sine curve is drawn in 10px segments starting at the origin. 
             */
            function drawSine(t, unitval, offset, direction) {
        
                // Loop to draw segments
                for (i = yAxis; i <= width; i += 10) {
                    x = t + (-yAxis + i) / unitval;
                    y = Math.sin(x) * direction;
                    context.lineTo(i + offset , (unitval / 3) * y + xAxis);
                }
            }
        
        
        
            /**
             * Function to draw arrow
             */
            function drawPlane(t, unitVal, offset, direction) {
        
                // Cache position of arrow on the circle
                var y = xAxis + (unitVal / 3) * Math.sin(t) * direction;
                var img = new Image();
                img.src = "./datouwang.png";
                //img.src = "https://i.imgur.com/bYuAw4C.png";
                // Draw yAxis bead
                context.beginPath();
                context.drawImage(img, yAxis - 29  + offset , y - 16 );
                //context.arc(yAxis, y, 5, 0, 2*Math.PI, false);
                context.stroke();
            }
        
            init();
        
        })();
        </script>
</html>